.Header_Container {
    width: 100%;

    .Header_section {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.5rem 12rem;

        .logo_container {
            img {
                width: 3rem;
            }
        }

        .right_section_container {
            display: flex;
            justify-content: space-between;
            /* width: 30%; */
            gap: 3rem;

            .right_section_link_container {
                color: white;

                a {
                        text-decoration: none;
                        color: snow;
                        font-family: bold;
                        color: rgb(255, 255, 255);
                        opacity: 0.8;
                
                
                    }
            }
        }


    }
}